.form {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.login {
    margin-top: 200px;
}

.ultra-short {
    width: 50px;
}

.short {
    width: 100px;
}

.long {
    width: 400px;
}

.disabled, .disabled:hover {
    background-color: dimgrey;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 4px solid whitesmoke;
}

input, select, option, textarea {
    box-sizing: border-box;
    width: 200px;
    height: 32px;

    color: whitesmoke;
    background-color: black;
}

input:hover, select:hover, option:hover, textarea:hover {
    color: white;
    background-color: #333333;
}

textarea {
    width: 400px;
    height: 128px;
    resize: none;
    padding: 10px;
}

.standard {
    color: whitesmoke;
    background-color: black;
    border: whitesmoke 1px solid;
    border-radius: 8px;

    padding: 8px;
    margin: 2px;
}

.standard:hover {
    color: black;
    background-color: whitesmoke;
    border: black 1px solid;
}