table {
    background-color: #666;
    color: black;
    border: 8px rgba(0, 0, 0, 0.85) solid;
    border-collapse: collapse;
    margin: auto;
    text-align: left;
}

tr:nth-child(even) {
    color: whitesmoke;
    background: black;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

th {
    background-color: black;
    color: whitesmoke;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 125%;
}

.total {
    font-weight: bold;
    font-size: 110%;
}

.delete-button {
    background-color: whitesmoke;
    color: black;
    border: black 2px solid;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: black;
    color: whitesmoke;
    border: whitesmoke 2px solid;
}
